# OS固有のファイル
.DS_Store
Thumbs.db

# 一時ファイルやログファイル
*.log
*.tmp
*.bak
*.swp

# backendディレクトリ
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env*

# frontendディレクトリ
frontend/node_modules/
frontend/.next/
frontend/.cache/
frontend/dist/
frontend/build/
frontend/.env*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
